@{
    ViewData["Title"] = "Facebook Demo";
}

<div class="text-center">
    <button id="fb-login-btn">Facebook Login</button>
    <div id="store-list-area"></div>
</div>

<script>
// Load the SDK asynchronously
(function (d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/zh_TW/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// async callback when fb sdk loaded
window.fbAsyncInit = function() {
    FB.init({
      appId      : '1207163082697132',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v8.0'           // Use this Graph API version for this call.
    });
};

let token

function executeFbLogin () {
    FB.login(function(response) {
        if (response.authResponse) {
            console.log('Welcome!  Fetching your information.... ');
            console.log('result of executeFbLogin is: ')
            console.log(response);
            // 獲得帳號下的粉專列表
            getStoreList(response);
        } else {
            console.log('User cancelled login or did not fully authorize.');
        }
    }, { scope: 'public_profile,email,pages_read_engagement,pages_show_list' });
}

// 傳送 token 給後端
function getStoreList(response){
  console.log('getStoreList, sending data: ')
  const userId = response.authResponse.userID
  const accessToken = response.authResponse.accessToken
  console.log(userId);
  console.log(accessToken);
  token = response.authResponse.accessToken
  console.log('also save token in global: ')
  console.log(token)
  const url = `/Home/GetFanPageList?userId=${userId}&acessToken=${accessToken}`
  fetch(url,{method:'GET'})
    .then((res) => {
        console.log('getStoreList success: ')
        return res.json()
    }).then((data)=>{
        console.log(data);
        console.log(data.body);
        // 獲得回傳的商店列表
        printStoreButton(data)
    })
    .catch((err) => console.log(err))
}

// 印出商店列表
function printStoreButton(shopList){
  console.log('now lets print button :')
  console.log(shopList)
  shopList.forEach((data)=>{ 
      console.log(data) 
      document.getElementById("store-list-area").innerHTML += 
  `<input type="radio" id=${data.name} name="fan_page_list" value="${data.id}""><label for=${data.name}>${data.name}</label><br>`
  })
   document.getElementById("store-list-area").innerHTML += 
  `<button onclick="sendStoreOption()">選完粉專之後按我</button>`
}
// 送出選取的商店列表
function sendStoreOption(){
  const fanPageId = document.querySelector('input[name="fan_page_list"]:checked').value;
  const accessToken = token
  console.log('送出選取的粉專id :')
  console.log(fanPageId)
  console.log(accessToken)
  const url = `/Home/GetToken?fanPageId=${fanPageId}&acessToken=${accessToken}`
  fetch(url,{method:'GET'})
    .then((res) => {
        console.log('獲得商店 token 成功: ')
        return res.json();
    }).then((data)=>{
        // 獲得 token
        console.log(data);
        printStoreToken(data);
    })
    .catch((err) => console.log(err))
  console.log('send store option')
}
// 獲得商店 token
function printStoreToken(res){
  console.log('print store token')
  // 這裡資料有做調整，改回傳
  const dataList = res.fanPageToken;
  console.log('我拿到的資料是：')
  console.log(dataList)
  dataList.forEach((data)=>{ 
        console.log(data) 
        document.getElementById("store-list-area").innerHTML += 
    `<div>你的第${data.postIndex}篇文章內容為</div>
    <div style="width:350px; border: medium dashed green; color: grey; margin: 10px 0px;">${data.message}</div>`
   })

}


document.getElementById("fb-login-btn").onclick = executeFbLogin;
</script>
